<html>
  <head>
    <title>MediCare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <script>
  /**
   * Define the version of the Google Pay API referenced when creating your
   * configuration
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|apiVersion in PaymentDataRequest}
   */
  const baseRequest = {
    apiVersion: 2,
    apiVersionMinor: 0
  };

  /**
   * Card networks supported by your site and your gateway
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   * @todo confirm card networks supported by your site and gateway
   */
  const allowedCardNetworks = ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "VISA"];

  /**
   * Card authentication methods supported by your site and your gateway
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   * @todo confirm your processor supports Android device tokens for your
   * supported card networks
   */
  const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];

  /**
   * Identify your gateway and your site's gateway merchant identifier
   *
   * The Google Pay API response will return an encrypted payment method capable
   * of being charged by a supported gateway after payer authorization
   *
   * @todo check with your gateway on the parameters to pass
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#gateway|PaymentMethodTokenizationSpecification}
   */
  const tokenizationSpecification = {
    type: 'PAYMENT_GATEWAY',
    parameters: {
      'gateway': 'example',
      'gatewayMerchantId': 'exampleGatewayMerchantId'
    }
  };

  /**
   * Describe your site's support for the CARD payment method and its required
   * fields
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   */
  const baseCardPaymentMethod = {
    type: 'CARD',
    parameters: {
      allowedAuthMethods: allowedCardAuthMethods,
      allowedCardNetworks: allowedCardNetworks
    }
  };

  /**
   * Describe your site's support for the CARD payment method including optional
   * fields
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   */
  const cardPaymentMethod = Object.assign(
    {},
    baseCardPaymentMethod,
    {
      tokenizationSpecification: tokenizationSpecification
    }
  );

  /**
   * An initialized google.payments.api.PaymentsClient object or null if not yet set
   *
   * @see {@link getGooglePaymentsClient}
   */
  let paymentsClient = null;

  /**
   * Configure your site's support for payment methods supported by the Google Pay
   * API.
   *
   * Each member of allowedPaymentMethods should contain only the required fields,
   * allowing reuse of this base request when determining a viewer's ability
   * to pay and later requesting a supported payment method
   *
   * @returns {object} Google Pay API version, payment methods supported by the site
   */
  function getGoogleIsReadyToPayRequest() {
    return Object.assign(
        {},
        baseRequest,
        {
          allowedPaymentMethods: [baseCardPaymentMethod]
        }
    );
  }

  /**
   * Configure support for the Google Pay API
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|PaymentDataRequest}
   * @returns {object} PaymentDataRequest fields
   */
  function getGooglePaymentDataRequest() {
    const paymentDataRequest = Object.assign({}, baseRequest);
    paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
    paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
    paymentDataRequest.merchantInfo = {
      // @todo a merchant ID is available for a production environment after approval by Google
      // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
      // merchantId: '12345678901234567890',
      merchantName: 'Example Merchant'
    };

    paymentDataRequest.callbackIntents = ["PAYMENT_AUTHORIZATION"];

    return paymentDataRequest;
  }

  /**
   * Return an active PaymentsClient or initialize
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/client#PaymentsClient|PaymentsClient constructor}
   * @returns {google.payments.api.PaymentsClient} Google Pay API client
   */
  function getGooglePaymentsClient() {
    if ( paymentsClient === null ) {
      paymentsClient = new google.payments.api.PaymentsClient({
          environment: 'TEST',
        paymentDataCallbacks: {
          onPaymentAuthorized: onPaymentAuthorized
        }
      });
    }
    return paymentsClient;
  }

  /**
   * Handles authorize payments callback intents.
   *
   * @param {object} paymentData response from Google Pay API after a payer approves payment through user gesture.
   * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData object reference}
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentAuthorizationResult}
   * @returns Promise<{object}> Promise of PaymentAuthorizationResult object to acknowledge the payment authorization status.
   */
  function onPaymentAuthorized(paymentData)
  {
      return new Promise(function(resolve, reject){
      // handle the response
      processPayment(paymentData)
      .then(function() {
        document.getElementById('PaymentStatus').value = "Success";
        PayForm = document.getElementById('PayForm');
        PayForm.submit();
        resolve({transactionState: 'SUCCESS'});
      })
      .catch(function() {
        document.getElementById('PaymentStatus').value = "Failed";
        PayForm = document.getElementById('PayForm');
        PayForm.submit();
        resolve({
          transactionState: 'ERROR',
          error: {
            intent: 'PAYMENT_AUTHORIZATION',
            message: 'Insufficient funds',
            reason: 'PAYMENT_DATA_INVALID'
          }
        });
      });
    });
  }

  /**
   * Initialize Google PaymentsClient after Google-hosted JavaScript has loaded
   *
   * Display a Google Pay payment button after confirmation of the viewer's
   * ability to pay.
   */
  function onGooglePayLoaded() {
    const paymentsClient = getGooglePaymentsClient();
    paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
        .then(function(response) {
          if (response.result) {
            addGooglePayButton();
          }
        })
        .catch(function(err) {
          // show error in developer console for debugging
          console.error(err);
        });
  }

  /**
   * Add a Google Pay purchase button alongside an existing checkout button
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#ButtonOptions|Button options}
   * @see {@link https://developers.google.com/pay/api/web/guides/brand-guidelines|Google Pay brand guidelines}
   */
  function addGooglePayButton() {
    const paymentsClient = getGooglePaymentsClient();
    const button =
        paymentsClient.createButton({onClick: onGooglePaymentButtonClicked,buttonType:'short',buttonColor:'black',});
    document.getElementById('PayButton').appendChild(button);
  }

  /**
   * Provide Google Pay API with a payment amount, currency, and amount status
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#TransactionInfo|TransactionInfo}
   * @returns {object} transaction info, suitable for use as transactionInfo property of PaymentDataRequest
   */
  function getGoogleTransactionInfo() {
    return {
          displayItems: [
          {
            label: "Products Cost",
            type: "SUBTOTAL",
            price: "{{ SubTotal }}",
          },
          {
            label: "ServiceCharge",
            type: "SUBTOTAL",
            price: "{{ CartData.ServiceCharge }}",
          },
          {
            label: "Delivery Charge",
            type: "TAX",
            price: "{{ CartData.DeliveryCharge }}",
          }
      ],
      countryCode: 'US',
      currencyCode: "EUR",
      totalPriceStatus: "FINAL",
      totalPrice: "{{ CartData.CartTotal }}",
      totalPriceLabel: "Total"
    };
  }

  /**
   * Show Google Pay payment sheet when Google Pay payment button is clicked
   */
  function onGooglePaymentButtonClicked() {
    const paymentDataRequest = getGooglePaymentDataRequest();
    paymentDataRequest.transactionInfo = getGoogleTransactionInfo();

    const paymentsClient = getGooglePaymentsClient();
    paymentsClient.loadPaymentData(paymentDataRequest);
  }

  /**
   * Process payment data returned by the Google Pay API
   *
   * @param {object} paymentData response from Google Pay API after user approves payment
   * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData|PaymentData object reference}
   */
  function processPayment(paymentData) {
          return new Promise(function(resolve, reject) {
          setTimeout(function() {
                  // @todo pass payment token to your gateway to process payment
                  paymentToken = paymentData.paymentMethodData.tokenizationData.token;
          resolve({});
      }, 3000);
    });
  }
  </script>
  <script async
    src="https://pay.google.com/gp/p/js/pay.js"
    onload="onGooglePayLoaded()">
  </script>
  <style>
    .container
    {
       background:rgba(255, 255, 255, 1.0);
       border-radius:10px !important;
    }
    .navbar
    {
      margin-top:5px;
      border-radius: 10px;
    }
  </style>
  <body style="background:url('https://www.longprairiepharmacy.com/wp-content/themes/longprairie/images/slider/9.jpg');">
    <center>
      <div style="max-width:80%;">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <a class="navbar-brand" href="/?userEmail={{ UserDetails.user_Email }}">MediCare</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavigationBar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="NavigationBar">
            <ul class="navbar-nav">
              {% if UserDetails.EmailVerified == 0 %}
                <li class="nav-item">
                  <a class="nav-link" href="/?userEmail={{ UserDetails.user_Email }}">Restricted access as email is not verified</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/?userEmail={{ UserDetails.user_Email }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Profile?userEmail={{ UserDetails.user_Email }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/MyOrders?userEmail={{ UserDetails.user_Email }}">My Orders</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="BrowseByCategory" data-toggle="dropdown">Browse By Category</a>
                  <div class="dropdown-menu" style="background:#444444;">
                    {% if Category != [] %}
                      {% for i in Category %}
                        <a class="dropdown-item" href="/BrowseByCategory?userEmail={{ UserDetails.user_Email }}&Category={{ i }}" style="color:white;background:#444444;">{{ i }}</a>
                      {% endfor %}
                    {% endif %}
                  </div>
                </li>
                <form action="/" method="get" style="margin:0px;padding:0px;">
                  <li class="nav-item">
                    <div class="row" style="margin:0px;padding:0px;">
                      <div class="col-sm-10" style="margin:0px;padding:0px;">
                        <input type='hidden' class='form-control' name='userEmail' id='userEmail' value="{{ UserDetails.user_Email }}">
                        <input type='text' class='form-control' name='SearchBarText' id='SearchBarText' placeholder='Search' required>
                      </div>
                      <div class="col-sm-2" style="margin:0px;padding:0px;">
                        <button class="btn btn-primary" name='Button' id='SearchButton' value='Search' style="padding:10px;">
                          <span class="fas fa-search"></span>
                        </button>
                      </div>
                    </div>
                  </li>
                </form>
              {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
              {% if UserDetails.EmailVerified != 0 %}
                <li class="nav-item">
                  <a class="nav-link" href="/ShoppingCart?userEmail={{ UserDetails.user_Email }}"><span class="fas fa-shopping-cart"></span>&nbsp;Shopping Cart</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/"><span class="fas fa-sign-out-alt"></span>&nbsp;{{ SignInStatus }}</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
          <hr>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              {% if notification == "Success" %}
                <div style="background:green;color:white;padding:10px;border-radius:10px;font-size:15px;">Payment was successful and your order has been successfully placed. You can be track the order from "My Orders".</div>
              {% elif notification == "Failed" %}
                <div style="background:red;color:white;padding:10px;border-radius:10px;font-size:15px;">Payment was unsuccessful and your order was not placed. Please try again to make the payment.</div>
              {% elif notification == "ProductNotAvailableInSelectedVendor" %}
                <div style="background:red;color:white;padding:10px;border-radius:10px;font-size:15px;">There are few products not available for selected vendor.</div>
              {% else %}
                <div style="background:yellow;color:black;padding:10px;border-radius:10px;font-size:15px;">
                  Please check the quantity of each product carefully before making payment.
                  <br>
                  All the products purchased from MediCare are non-refundable and non-exchangable. Order once placed, cannot be changed or cancelled.
                </div>
              {% endif %}
            </div>
          </div>
          <hr>
          {% if ProductDetails != [] %}
          <form action="/ConfirmOrder" method="post" id="PayForm">
            <input type="hidden" id="userEmail" name="userEmail" class="form-control" value="{{ UserDetails.user_Email }}">
            <input type="hidden" id="PaymentStatus" name="PaymentStatus" class="form-control" value="">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-12">
                        <div style="border:1px solid black;border-radius:10px;text-align:left;padding:10px;">
                          Customer Details :
                          <hr>
                          <div class="row">
                            <div class="col-sm-12">
                              Name : {{ UserDetails.user_FirstName }} {{ UserDetails.user_LastName }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              Email : {{ UserDetails.user_Email }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              Contact Number : +353-{{ UserDetails.user_Contact }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              Delivery Address : {{ UserDetails.user_Address }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <div id="PayButton"></div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-sm-6" style="border:1px solid black;border-radius:10px;text-align:left;padding:10px;">
                    <div>
                      <div class="row">
                        <div class="col-sm-8">
                          <b>Order Details</b>
                        </div>
                        <div class="col-sm-2" style="padding-left:0px;">
                          <b>Quantity</b>
                        </div>
                        <div class="col-sm-2" style="padding-left:0px;">
                          <b>Amount</b>
                        </div>
                      </div>
                      <hr>
                      {% for i in ProductDetails %}
                        <div class="row">
                          <div class="col-sm-8">
                            {{ i.ProductName }}
                          </div>
                          <div class="col-sm-2">
                            {{ i.Quantity }}
                          </div>
                          <div class="col-sm-2">
                            <b>&#8364;{{ i.Price }}</b>
                          </div>
                        </div>
                        <br>
                      {% endfor %}
                      <div class="row">
                        <div class="col-sm-10">
                          Service Charge
                        </div>
                        <div class="col-sm-2">
                          <b>&#8364;{{ ServiceCharge }}</b>
                        </div>
                      </div>
                      {% if CartData.OrderType == "Delivery" %}
                        <br>
                        <div class="row">
                          <div class="col-sm-10">
                            Delivery Charge
                          </div>
                          <div class="col-sm-2">
                            <b>&#8364;{{ DeliveryCharge }}</b>
                          </div>
                        </div>
                      {% endif %}
                      <hr>
                      <div class="row">
                        <div class="col-sm-10">
                          Order Total
                        </div>
                        <div class="col-sm-2">
                          <b>&#8364;{{ OrderTotal }}</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <hr>
          </form>
          {% else %}
            <div class="row">
              <div class="col-sm-12">
                There are no products to display in your shopping cart.
              </div>
            </div>
            <hr>
          {% endif %}
          <hr>
        </div>
      </div>
    </center>
  </body>
</html>
