<html>
  <head>
    <title>MediCare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvLc7SvzpX6KP6HCfn033xNKaM8UH3e2w&callback=initMap&libraries=&v=weekly" defer></script>
  </head>
  <style>
    .container
    {
       background:rgba(255, 255, 255, 1.0);
       border-radius:10px !important;
    }
    .navbar
    {
      margin-top:5px;
      border-radius: 10px;
    }
    .modal .modal-dialog
    {
      max-width:75%;
    }
    #map
    {
      width: 85%;
      height: 75%;
      background-color: grey;
      border-radius:10px;
      border:1px solid black;
    }
    #floating-panel
    {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: "Roboto", "sans-serif";
      line-height: 30px;
      padding-left: 10px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      $("#PharmacyName").live("change", function()
      {
        var PID = $(this).find("option:selected").attr("value");
        {% for i in PharmacyDetails %}
          if(PID == {{ i.PharmacyID }})
          {
            $("#DLat").val({{ i.Latitude }});
            $("#DLng").val({{ i.Longitude }});
            initMap();
          }
          else if(PID == "")
          {
            $("#DLat").val("");
            $("#DLng").val("");
          }
        {% endfor %}
      })
    });
  </script>
  <script>
    "use strict";
    function initMap()
    {
      var map = new google.maps.Map(document.getElementById('map'), {zoom: 15, center: {lat: {{ UserDetails.Latitude }}, lng: {{ UserDetails.Longitude }}}});
      var marker = new google.maps.Marker({position: {lat: {{ UserDetails.Latitude }}, lng: {{ UserDetails.Longitude }}}, map: map});
      var directionsRenderer = new google.maps.DirectionsRenderer();
      var directionsService = new google.maps.DirectionsService();
      directionsRenderer.setMap(map);
      calculateAndDisplayRoute(directionsService, directionsRenderer);
      document.getElementById("TravelMode").addEventListener("change", () => {
        calculateAndDisplayRoute(directionsService, directionsRenderer);
      });
    }
    function calculateAndDisplayRoute(directionsService, directionsRenderer)
    {
      var selectedMode = document.getElementById("TravelMode").value;
      var Lat = document.getElementById("DLat").value;
      var Lng = document.getElementById("DLng").value;
      var DValues = new google.maps.LatLng(Lat, Lng);
      directionsService.route(
        {
          origin: {lat: {{ UserDetails.Latitude }}, lng: {{ UserDetails.Longitude }}},
          destination: DValues,
          travelMode: google.maps.TravelMode[selectedMode]
        },
        (response, status) => {
          if (status == "OK") {
            directionsRenderer.setDirections(response);
          }
          else {
            window.alert("Directions request failed due to " + status);
          }
        }
      );
    }
  </script>
  <script>
  /**
   * Define the version of the Google Pay API referenced when creating your
   * configuration
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|apiVersion in PaymentDataRequest}
   */
  const baseRequest = {
    apiVersion: 2,
    apiVersionMinor: 0
  };

  /**
   * Card networks supported by your site and your gateway
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   * @todo confirm card networks supported by your site and gateway
   */
  const allowedCardNetworks = ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "VISA"];

  /**
   * Card authentication methods supported by your site and your gateway
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   * @todo confirm your processor supports Android device tokens for your
   * supported card networks
   */
  const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];

  /**
   * Identify your gateway and your site's gateway merchant identifier
   *
   * The Google Pay API response will return an encrypted payment method capable
   * of being charged by a supported gateway after payer authorization
   *
   * @todo check with your gateway on the parameters to pass
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#gateway|PaymentMethodTokenizationSpecification}
   */
  const tokenizationSpecification = {
    type: 'PAYMENT_GATEWAY',
    parameters: {
      'gateway': 'example',
      'gatewayMerchantId': 'exampleGatewayMerchantId'
    }
  };

  /**
   * Describe your site's support for the CARD payment method and its required
   * fields
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   */
  const baseCardPaymentMethod = {
    type: 'CARD',
    parameters: {
      allowedAuthMethods: allowedCardAuthMethods,
      allowedCardNetworks: allowedCardNetworks
    }
  };

  /**
   * Describe your site's support for the CARD payment method including optional
   * fields
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
   */
  const cardPaymentMethod = Object.assign(
    {},
    baseCardPaymentMethod,
    {
      tokenizationSpecification: tokenizationSpecification
    }
  );

  /**
   * An initialized google.payments.api.PaymentsClient object or null if not yet set
   *
   * @see {@link getGooglePaymentsClient}
   */
  let paymentsClient = null;

  /**
   * Configure your site's support for payment methods supported by the Google Pay
   * API.
   *
   * Each member of allowedPaymentMethods should contain only the required fields,
   * allowing reuse of this base request when determining a viewer's ability
   * to pay and later requesting a supported payment method
   *
   * @returns {object} Google Pay API version, payment methods supported by the site
   */
  function getGoogleIsReadyToPayRequest() {
    return Object.assign(
        {},
        baseRequest,
        {
          allowedPaymentMethods: [baseCardPaymentMethod]
        }
    );
  }

  /**
   * Configure support for the Google Pay API
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|PaymentDataRequest}
   * @returns {object} PaymentDataRequest fields
   */
  function getGooglePaymentDataRequest() {
    const paymentDataRequest = Object.assign({}, baseRequest);
    paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
    paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
    paymentDataRequest.merchantInfo = {
      // @todo a merchant ID is available for a production environment after approval by Google
      // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
      // merchantId: '12345678901234567890',
      merchantName: 'Example Merchant'
    };

    paymentDataRequest.callbackIntents = ["PAYMENT_AUTHORIZATION"];

    return paymentDataRequest;
  }

  /**
   * Return an active PaymentsClient or initialize
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/client#PaymentsClient|PaymentsClient constructor}
   * @returns {google.payments.api.PaymentsClient} Google Pay API client
   */
  function getGooglePaymentsClient() {
    if ( paymentsClient === null ) {
      paymentsClient = new google.payments.api.PaymentsClient({
          environment: 'TEST',
        paymentDataCallbacks: {
          onPaymentAuthorized: onPaymentAuthorized
        }
      });
    }
    return paymentsClient;
  }

  /**
   * Handles authorize payments callback intents.
   *
   * @param {object} paymentData response from Google Pay API after a payer approves payment through user gesture.
   * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData object reference}
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentAuthorizationResult}
   * @returns Promise<{object}> Promise of PaymentAuthorizationResult object to acknowledge the payment authorization status.
   */
  function onPaymentAuthorized(paymentData)
  {
      return new Promise(function(resolve, reject){
      // handle the response
      processPayment(paymentData)
      .then(function() {
        PayForm = document.getElementById('PayForm');
        PayForm.submit();
        resolve({transactionState: 'SUCCESS'});
      })
      .catch(function() {
        resolve({
          transactionState: 'ERROR',
          error: {
            intent: 'PAYMENT_AUTHORIZATION',
            message: 'Insufficient funds',
            reason: 'PAYMENT_DATA_INVALID'
          }
        });
      });
    });
  }

  /**
   * Initialize Google PaymentsClient after Google-hosted JavaScript has loaded
   *
   * Display a Google Pay payment button after confirmation of the viewer's
   * ability to pay.
   */
  function onGooglePayLoaded() {
    const paymentsClient = getGooglePaymentsClient();
    paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
        .then(function(response) {
          if (response.result) {
            addGooglePayButton();
          }
        })
        .catch(function(err) {
          // show error in developer console for debugging
          console.error(err);
        });
  }

  /**
   * Add a Google Pay purchase button alongside an existing checkout button
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#ButtonOptions|Button options}
   * @see {@link https://developers.google.com/pay/api/web/guides/brand-guidelines|Google Pay brand guidelines}
   */
  function addGooglePayButton() {
    const paymentsClient = getGooglePaymentsClient();
    const button =
        paymentsClient.createButton({onClick: onGooglePaymentButtonClicked,buttonType:'short',buttonColor:'black',});
    document.getElementById('PayButton').appendChild(button);
  }

  /**
   * Provide Google Pay API with a payment amount, currency, and amount status
   *
   * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#TransactionInfo|TransactionInfo}
   * @returns {object} transaction info, suitable for use as transactionInfo property of PaymentDataRequest
   */
  function getGoogleTransactionInfo() {
    return {
          displayItems: [
          {
            label: "Products Cost",
            type: "SUBTOTAL",
            price: "{{ SubTotalPrice }}",
          },
          {
            label: "ServiceCharge",
            type: "SUBTOTAL",
            price: "{{ OrderDetails.ServiceCharge }}",
          },
          {
            label: "Delivery Charge",
            type: "TAX",
            price: "{{ OrderDetails.DeliveryCharge }}",
          }
      ],
      countryCode: 'US',
      currencyCode: "EUR",
      totalPriceStatus: "FINAL",
      totalPrice: "{{ OrderDetails.OrderTotal }}",
      totalPriceLabel: "Total"
    };
  }

  /**
   * Show Google Pay payment sheet when Google Pay payment button is clicked
   */
  function onGooglePaymentButtonClicked() {
    const paymentDataRequest = getGooglePaymentDataRequest();
    paymentDataRequest.transactionInfo = getGoogleTransactionInfo();

    const paymentsClient = getGooglePaymentsClient();
    paymentsClient.loadPaymentData(paymentDataRequest);
  }

  /**
   * Process payment data returned by the Google Pay API
   *
   * @param {object} paymentData response from Google Pay API after user approves payment
   * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData|PaymentData object reference}
   */
  function processPayment(paymentData) {
          return new Promise(function(resolve, reject) {
          setTimeout(function() {
                  // @todo pass payment token to your gateway to process payment
                  paymentToken = paymentData.paymentMethodData.tokenizationData.token;
          resolve({});
      }, 3000);
    });
  }
  </script>
  <script async
    src="https://pay.google.com/gp/p/js/pay.js"
    onload="onGooglePayLoaded()">
  </script>
  <body style="background:url('https://www.longprairiepharmacy.com/wp-content/themes/longprairie/images/slider/9.jpg');">
    <center>
      <div style="max-width:80%;">
        {% if VendorDetails != None %}
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/VendorHomePage?vendorEmail={{ VendorDetails.Email }}">MediCare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/VendorHomePage?vendorEmail={{ VendorDetails.Email }}">Home</a>
                </li>
                {% if VendorDetails.EmailVerified == 1 %}
                  <li class="nav-item">
                    <a class="nav-link" href="/VendorOrders?vendorEmail={{ VendorDetails.Email }}">Orders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/AddProducts?vendorEmail={{ VendorDetails.Email }}">Add Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/OfferedProducts?vendorEmail={{ VendorDetails.Email }}">Offered Products</a>
                  </li>
                {% elif VendorDetails.EmailVerified == 0 %}
                  <li class="nav-item">
                    <a class="nav-link" href="">Restricted use as email is not yet verified.</a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link float-right" href="/VendorSignIn"><span class="fas fa-sign-out-alt"></span>&nbsp;Sign Out</a>
                </li>
              </ul>
            </div>
          </nav>
        {% elif UserDetails != None %}
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            {% if UserDetails != None %}
              <a class="navbar-brand" href="/?userEmail={{ UserDetails.user_Email }}">MediCare</a>
            {% else %}
              <a class="navbar-brand" href="/">MediCare</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavigationBar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavigationBar">
              <ul class="navbar-nav">
                {% if UserDetails.EmailVerified == 0 %}
                  <li class="nav-item">
                    <a class="nav-link" href="/?userEmail={{ UserDetails.user_Email }}">Restricted access as email is not verified</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    {% if UserDetails != None %}
                      <a class="nav-link" href="/?userEmail={{ UserDetails.user_Email }}">Home</a>
                    {% else %}
                      <a class="nav-link" href="/">Home</a>
                    {% endif %}
                  </li>
                  {% if UserDetails != None %}
                    <li class="nav-item">
                      <a class="nav-link" href="/Profile?userEmail={{ UserDetails.user_Email }}">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/MyOrders?userEmail={{ UserDetails.user_Email }}">My Orders</a>
                    </li>
                  {% endif %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="BrowseByCategory" data-toggle="dropdown">Browse By Category</a>
                    <div class="dropdown-menu" style="background:#444444;">
                      {% if Category != [] %}
                        {% for i in Category %}
                          {% if UserDetails != None %}
                            <a class="dropdown-item" href="/BrowseByCategory?userEmail={{ UserDetails.user_Email }}&Category={{ i }}" style="color:white;background:#444444;">{{ i }}</a>
                          {% else %}
                            <a class="dropdown-item" href="/BrowseByCategory?Category={{ i }}" style="color:white;background:#444444;">{{ i }}</a>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </li>
                  {% if UserDetails == None %}
                    <li class="nav-item">
                      <a class="nav-link" href="/TermsOfUse">Terms Of Use</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ContactUs">Contact Us</a>
                    </li>
                  {% endif %}
                  <form action="/" method="get" style="margin:0px;padding:0px;">
                    <li class="nav-item">
                      <div class="row" style="margin:0px;padding:0px;">
                        <div class="col-sm-10" style="margin:0px;padding:0px;">
                          {% if UserDetails != None %}
                            <input type='hidden' class='form-control' name='userEmail' id='userEmail' value="{{ UserDetails.user_Email }}">
                          {% endif %}
                          <input type='text' class='form-control' name='SearchBarText' id='SearchBarText' placeholder='Search' required>
                        </div>
                        <div class="col-sm-2" style="margin:0px;padding:0px;">
                          <button class="btn btn-primary" name='Button' id='SearchButton' value='Search' style="padding:10px;">
                            <span class="fas fa-search"></span>
                          </button>
                        </div>
                      </div>
                    </li>
                  </form>
                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto">
                {% if UserDetails != None %}
                  {% if UserDetails.EmailVerified != 0 %}
                    <li class="nav-item">
                      <a class="nav-link" href="/ShoppingCart?userEmail={{ UserDetails.user_Email }}"><span class="fas fa-shopping-cart"></span><sup class="badge badge-danger" style="margin-left:-5px;">{{ CartCount }}</sup>&nbsp;Shopping Cart</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="/"><span class="fas fa-sign-out-alt"></span>&nbsp;{{ SignInStatus }}</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/UserSignIn"><span class="fas fa-sign-in-alt"></span>&nbsp;{{ SignInStatus }}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        {% endif %}
        <div class="container">
          <hr>
          <hr>
          <div class="btn-primary" style="padding:10px;border-radius:10px;">Order ID : {{ OrderDetails.OrderID }}</div>
          <hr>
          {% if SignInAs == "User" %}
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10" style="text-align:left;">
                <div class="row">
                  <div class="col-sm-6" style="border:1px solid black;border-radius:10px;padding:10px;">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4>Your Details</h4>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        First Name :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_FirstName }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Last Name :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_LastName }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Email :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_Email }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Contact :
                      </div>
                      <div class="col-sm-7">
                        +353-{{ UserDetails.user_Contact }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    {% if OrderDetails.OrderType == "Delivery" %}
                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                          Delivery Address :
                        </div>
                        <div class="col-sm-7">
                          {{ UserDetails.user_Address }}
                        </div>
                        <div class="col-sm-1"></div>
                      </div>
                      <br>
                    {% endif %}
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        DOB :
                      </div>
                      <div class="col-sm-7">
                          {{ UserDetails.user_DOB }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Gender :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_Gender }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    {% if ReUploadPrescription == 1 %}
                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10" style="background:red;color:white;padding:10px;border-radius:10px;">
                          Vendor have requested you to re-upload correct prescription.
                        </div>
                        <div class="col-sm-1"></div>
                      </div>
                      <br>
                      <form action="{{ ImageUploadURL }}" method="post" name="UploadPrescription" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="SignInAs" value="{{ SignInAs }}" />
                        <input class="form-control" type="hidden" name="userEmail" value="{{ UserDetails.user_Email }}" />
                        <input class="form-control" type="hidden" name="OrderID" value="{{ OrderDetails.OrderID }}" />
                        <div class="row">
                          <div class="col-sm-1"></div>
                          <div class="col-sm-7">
                            <input type='file' name='Image' id='Image' class="form-control" style="padding:3px;" accept=".png, .jpg, .jpeg" required>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn btn-primary" id="UploadPrescription" name="Button" value="UploadPrescription">Upload</button>
                          </div>
                          <div class="col-sm-1"></div>
                        </div>
                      </form>
                    {% endif %}
                  </div>
                  <div class="col-sm-6">
                    {% if OrderDetails.PrescriptionRequired == 1 %}
                      <button class="btn" data-toggle="modal" data-target="#PrescriptionImageModal"><img id="myimage" src="{{ OrderDetails.PrescriptionImage }}" style="width:400px !important;border-radius:10px;border:1px solid black;" alt="Oops! Error occurred while downloading prescription image." /></button>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <hr>
            <div class="row btn-primary">
              <div class="col-sm-12" style="padding:10px;">Below are product details with their individual status.</div>
            </div>
            <hr>
            <form action="/ViewOrderDetails" method="post" id="PayForm">
              <input class="form-control" type="hidden" name="SignInAs" value="{{ SignInAs }}" />
              <input class="form-control" type="hidden" name="userEmail" value="{{ UserDetails.user_Email }}" />
              <input class="form-control" type="hidden" name="OrderID" value="{{ OrderDetails.OrderID }}" />
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                  {% for i in range(0,ProductsCount) %}
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-4">
                        <img src="{{ ProductDetails[i].Images[0] }}" class="rounded" alt="Unable to display image." style="width:250px;">
                      </div>
                      <div class="col-sm-5">
                        {% if OrderDetails.OrderType == "Delivery" %}
                          <br>
                        {% endif %}
                        <div class="row">
                          <div class="col-sm-12">
                              <div style="font-size:20px;">{{ ProductDetails[i].ProductName }}</div>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-12">
                            {% if ProductDetails[i].PrescriptionRequired == 0 %}
                              Prescription is not required to buy this product
                            {% else %}
                              <div style="font-size:15px;background:red;color:white;padding:5px;border-radius:10px;">Prescription is required to buy this product</div>
                            {% endif %}
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-6">
                            Approved Quantity : {{ OrderDetails.Quantity[i] }}
                          </div>
                          <div class="col-sm-6">
                            Price : &#8364; {{ OrderDetails.Price[i] }}
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-12" style="background:yellow;padding:10px;border-radius:10px;">
                            Order Status : {{ ProductStatus[i] }}
                          </div>
                        </div>
                        {% if OrderDetails.OrderType == "Collection" %}
                          <br>
                          <div class="row">
                            <div class="col-sm-4">
                              Buyed From :
                            </div>
                            <div class="col-sm-8">
                              {% for j in PharmacyDetails %}
                                {% if PPID[i] == j.PharmacyID %}
                                  {{ j.PharmacyName }}
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-sm-6" style="text-align:left;">
                              Pharmacy Address :
                            </div>
                            <div class="col-sm-6">
                              {% for j in PharmacyDetails %}
                                {% if PPID[i] == j.PharmacyID %}
                                  {{ j.PhysicalAddress }}
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        {% endif %}
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                    <hr>
                  {% endfor %}
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-3">Order Type : {{ OrderDetails.OrderType }}</div>
                <div class="col-sm-3">ServiceCharge : &#8364; {{ OrderDetails.ServiceCharge }}</div>
                <div class="col-sm-3">Delivery Charge : &#8364; {{ OrderDetails.DeliveryCharge }}</div>
                <div class="col-sm-3">Order Total : &#8364; {{ OrderDetails.OrderTotal }}</div>
              </div>
              <hr>
              {% if OrderDetails.OrderType == "Collection" %}
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5">Select Pharmacy to view location of same on map</div>
                  <div class="col-sm-5">
                    <select class="form-control" id="PharmacyName">
                      <option value="">Select Pharmacy</option>
                      {% for PID in PharmacyID %}
                        {% for P in PharmacyDetails %}
                          {% if PID == P.PharmacyID %}
                            <option value="{{ PID }}">{{ P.PharmacyName }}</option>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </select>
                    <input type="hidden" id="DLat" name="DLat">
                    <input type="hidden" id="DLng" name="DLng">
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5">Select Mode :</div>
                  <div class="col-sm-5">
                    <select class="form-control" id="TravelMode">
                      <option value="">Select Mode</option>
                      <option value="WALKING">Walking</option>
                      <option value="DRIVING">Driving</option>
                      <option value="BICYCLING">Bicycling</option>
                    </select>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <br>
                <div id="map"></div>
                <hr>
              {% endif %}
              <div class="row">
                {% if ReUploadPrescription == 0 and PaymentRequired == 1 %}
                  <div class="col-sm-3"></div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary" name="Button" value="CancelOrder">Cancel Order</button>
                  </div>
                  <div class="col-sm-3">
                    <input type="hidden" name="Button" id="Pay" value="Pay" />
                    <div id="PayButton"></div>
                  </div>
                  <div class="col-sm-3"></div>
                {% else %}
                  <div class="col-sm-12">
                    Currently no action is possible on this order.
                  </div>
                {% endif %}
              </div>
            </form>

          {% elif SignInAs == "Vendor" %}
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10" style="text-align:left;">
                <div class="row">
                  <div class="col-sm-6" style="border:1px solid black;border-radius:10px;padding:10px;">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4>User Details</h4>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        First Name :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_FirstName }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Last Name :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_LastName }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Email :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_Email }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Contact :
                      </div>
                      <div class="col-sm-7">
                        +353-{{ UserDetails.user_Contact }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Address :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_Address }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        DOB :
                      </div>
                      <div class="col-sm-7">
                          {{ UserDetails.user_DOB }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                        Gender :
                      </div>
                      <div class="col-sm-7">
                        {{ UserDetails.user_Gender }}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    <br>
                    {% if OrderDetails.PrescriptionRequired == 1 and OrderDetails.OrderSubStatus == "Reviewing" and VendorDetails.RegisteredAs == "Pharmacist" %}
                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 form-check-inline">
                          Issue with Prescreption?
                        </div>
                        <div class="col-sm-5">
                          <form action="/ViewOrderDetails" method="post">
                            <input class="form-control" type="hidden" name="SignInAs" value="{{ SignInAs }}" />
                            <input class="form-control" type="hidden" name="vendorEmail" value="{{ VendorDetails.Email }}" />
                            <input class="form-control" type="hidden" name="userEmail" value="{{ UserDetails.user_Email }}" />
                            <input class="form-control" type="hidden" name="OrderID" value="{{ OrderDetails.OrderID }}" />
                            <input class="form-control" type="hidden" name="VendorComments1" value="Vendor have reported an issue in uploaded prescription. Please re-upload your doctor's prescription to continue." />
                            <button class="btn btn-primary" id="AskUserToUpload" name="Button" value="AskUserToUpload">Ask User To Upload Again</button>
                          </form>
                        </div>
                        <div class="col-sm-1"></div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-sm-6">
                    {% if OrderDetails.PrescriptionRequired == 1 %}
                      <button class="btn" data-toggle="modal" data-target="#PrescriptionImageModal"><img id="myimage" src="{{ OrderDetails.PrescriptionImage }}" style="width:400px !important;border-radius:10px;border:1px solid black;" alt="Oops! Error occurred while downloading prescription image." /></button>
                    {% endif %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">Order Type : {{ OrderDetails.OrderType }}</div>
                  <div class="col-sm-3">ServiceCharge : &#8364; {{ OrderDetails.ServiceCharge }}</div>
                  <div class="col-sm-3">Delivery Charge : &#8364; {{ OrderDetails.DeliveryCharge }}</div>
                  <div class="col-sm-3">Order Total : &#8364; {{ OrderDetails.OrderTotal }}</div>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <hr>
            <form action="/ViewOrderDetails" method="post">
              <input class="form-control" type="hidden" name="SignInAs" value="{{ SignInAs }}" />
              <input class="form-control" type="hidden" name="vendorEmail" value="{{ VendorDetails.Email }}" />
              <input class="form-control" type="hidden" name="userEmail" value="{{ UserDetails.user_Email }}" />
              <input class="form-control" type="hidden" name="OrderID" value="{{ OrderDetails.OrderID }}" />
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                  {% for i in range(0,ProductsCount) %}
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-4">
                        <img src="{{ ProductDetails[i].Images[0] }}" class="rounded" alt="Unable to display image." style="max-width:225px;">
                      </div>
                      <div class="col-sm-5">
                        <br>
                        <div class="row">
                          <div class="col-sm-12">
                              <div style="font-size:20px;">{{ ProductDetails[i].ProductName }}</div>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-12">
                            {% if ProductDetails[i].PrescriptionRequired == 0 %}
                              Prescription is not required to buy this product
                            {% else %}
                              <div style="font-size:15px;background:red;color:white;padding:5px;border-radius:10px;">Prescription is required to buy this product</div>
                            {% endif %}
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="hidden" id="ProductID" name="ProductID{{ OrderDetails.ProductID[i] }}" class="form-control" value="{{ OrderDetails.ProductID[i] }}">
                            {% if OrderDetails.OrderSubStatus == "Reviewing" %}
                              <select class="form-control" id="ProductQuantity" name="Quantity{{ OrderDetails.ProductID[i] }}" required>
                                <option value="">Select Quantity</option>
                                {% if ProductDetails[i].Quantity > 5 %}
                                  {% for j in range(0,6) %}
                                    {% if OrderDetails.Quantity[i] == j %}
                                      <option value="{{ j }}" selected>{{ j }}</option>
                                    {% else %}
                                      <option value="{{ j }}">{{ j }}</option>
                                    {% endif %}
                                  {% endfor %}
                                {% else %}
                                  {% for j in range(0,ProductDetails[i].Quantity+1) %}
                                    {% if OrderDetails.Quantity[i] == j %}
                                      <option value="{{ j }}" selected>{{ j }}</option>
                                    {% else %}
                                      <option value="{{ j }}">{{ j }}</option>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </select>
                            {% else %}
                              {{ OrderDetails.Quantity[i] }}
                            {% endif %}
                          </div>
                          <div class="col-sm-6">
                            <div style="font-size:20px;">Price : &#8364; {{ OrderDetails.Price[i] }}</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                    <hr>
                  {% endfor %}
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-4">Comments (Optional) :</div>
                    <div class="col-sm-8">
                      <textarea id="VendorComments" name="VendorComments" class="form-control" placeholder="Type your message to consumer."></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
              {% if VendorDetails.RegisteredAs == "Pharmacist" %}
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  {% if OrderDetails.OrderSubStatus == "Reviewing" %}
                    <button class="btn btn-primary" name="Button" value="SubmitForPayment">Submit for Payment</button>
                    <button class="btn btn-primary" name="Button" value="CancelOrder">Cancel Order</button>
                    <input type="reset" class="btn btn-primary" value="Reset"/>
                  {% elif OrderDetails.OrderSubStatus == "PaymentRequired" %}
                    Consumer is expected to make payment for this order.
                    <br>
                    <br>
                    <button class="btn btn-primary" name="Button" value="CancelOrder">Cancel Order</button>
                  {% elif OrderDetails.OrderSubStatus == "PaymentSuccessful" %}
                    <button class="btn btn-primary" name="Button" value="MarkPacking">Mark Packing</button>
                  {% elif OrderDetails.OrderSubStatus == "PackingInProgress" %}
                    <button class="btn btn-primary" name="Button" value="MarkPacked">Mark Packed</button>
                  {% elif OrderDetails.OrderSubStatus == "ProductPacked" and OrderDetails.OrderType == "Delivery" %}
                    <button class="btn btn-primary" name="Button" value="OutForDelivery">Out for Delivery</button>
                  {% elif OrderDetails.OrderSubStatus == "ProductPacked" and OrderDetails.OrderType == "Collection" %}
                    <button class="btn btn-primary" name="Button" value="ReadyForCollection">Ready for Collection</button>
                  {% elif OrderDetails.OrderSubStatus == "OutForDelivery" %}
                    <button class="btn btn-primary" name="Button" value="MarkDelivered">Mark Delivered</button>
                  {% elif OrderDetails.OrderSubStatus == "ReadyForCollection" %}
                    <button class="btn btn-primary" name="Button" value="MarkCollected">Mark Collected</button>
                  {% elif OrderDetails.OrderSubStatus == "ReUploadPrescription" %}
                    Consumer is requested to re-upload prescription for this order.
                    <br>
                    <br>
                    <button class="btn btn-primary" name="Button" value="CancelOrder">Cancel Order</button>
                  {% else %}
                    No action is possible on this order.
                  {% endif %}
                </div>
              </div>
              {% endif %}
            </form>
          {% endif %}
          <hr>
          <hr>
        </div>
      </div>
    </center>

<!-- Below is PrescriptionImage Modal -->
    <div class="modal fade" id="PrescriptionImageModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">Order ID : {{ OrderDetails.OrderID }}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <img src="{{ OrderDetails.PrescriptionImage }}" class="rounded" alt="Unable to display image." style="max-width:100%;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
